.categories-title {
    display: block;
    overflow: hidden;
    /* margin-bottom: 10px; */

    text-align: center;
    font-size: 2.4rem;
    line-height: 36px;
    color: var(--color-primary-background);
    text-transform: uppercase;
}
