.account_title {
    display: flex;
    justify-content: space-between;
}

.btn-create-address {
    border: none;
    outline: none;
    padding: 10px 12px;
    border-radius: 3px;
    background: linear-gradient(to bottom, rgb(136, 151, 221), rgb(109, 121, 181));
    color: #fff;
    font-size: 1.5rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.btn-create-address:hover {
    color: #fff;
    opacity: 0.9;
}

.list-address {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 12px 24px;
    border-bottom: 1px solid #eee;
}

.list-address_item {
    padding-bottom: 4px;
}

.account_address_user-form {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.account_address_user_address {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 10;
}

.account_address_user_province {
    position: relative;
    width: 100%;
    /* margin: 0 4px 0 0; */
    margin: 8px 0;
    margin-top: 6px;
}

.account_address_user_province:nth-child(1),
.account_address_user_province:nth-child(3) {
    margin-right: 6px;
}

.account_address_user_province button {
    width: 100%;
    outline: none;
    border: 1px solid #dad6d6;
    font-size: 16px;
    padding: 8px;
    background: white;
    color: var(--color-primary-background);
    cursor: pointer;

    text-align: left;
}
.account_address_user_province button::after {
    content: '';
    border-top: 6px solid var(--color-primary-background);
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;

    position: absolute;
    right: 1rem;
    top: 18px;
}
.account_address_user_province .active::after {
    transform: rotate(180deg);
}

.account_address_user_input {
    width: 100%;
    height: 45px;
    border: 1px solid #dad6d6;
    margin-bottom: 4px;
}

.account_address_user_input.more {
    width: 100%;
}

.account_address_user_input input {
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    padding: 0.5rem 1rem;
    font-size: 1.4rem;
    line-height: 3rem;
    background: transparent;
}

.select {
    background: white;
    position: absolute;
    top: 110%;
    min-width: 280px;

    z-index: 11;
}

.ant-btn-primary {
    background: linear-gradient(to bottom, rgb(136, 151, 221), rgb(109, 121, 181));
    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
}

.ant-checkbox-checked .ant-checkbox-inner {
    background: linear-gradient(to bottom, rgb(136, 151, 221), rgb(109, 121, 181));
    border-color: var(--color-primary-background);
}

.btn-create-address:not(:disabled):hover {
    /* color: var(--color-primary-background); */
    color: #fff;
}

.btn-create-address:not(:disabled):active {
    color: #fff;
}

.ant-tag-success {
    border-radius: 6px;
}
