.sidebar {
    min-width: 300px;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 60px;
    bottom: 0;
    background-color: #fff;
    box-shadow: 0 0 12px var(--color-box-shadow);
}

/* .sidebar-top {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.sidebar-top a {
    font-size: 30px;
    font-weight: 600;
    padding: 0.8rem 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar-top img {
    width: 220px;
    height: 36px;
    object-fit: contain;
}

.sidebar-top h1 {
    margin: 0 6px;
    font-size: 3.6rem;
    font-weight: 800;
    color: var(--color-primary-background);
} */

.sidebar-list-first {
    display: flex;
    align-items: center;
    margin: 24px 20px 12px;
}

.sidebar-list-first span {
    font-size: 2.8rem;
    padding-left: 12px;
    font-weight: 600;
    color: var(--color-primary-background);
}

.sidebar-list-item {
    position: relative;
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 700;
    text-transform: capitalize;
    padding: 15px;
    color: #6b6b6b;

    border-top: 2px solid rgb(242, 242, 242);
}

.sidebar-list-item.active {
    background: #f2f2fc;
    color: var(--color-primary-background);
}

.sidebar-list-item svg {
    font-size: 2.25rem;
}

.sidebar-list-item p {
    margin: 0 0 0 1rem;
}

.sidebar-list-item:hover:not(.active) {
    color: var(--color-primary-background);
    transition: 0.3s;
}

.sidebar-list-item .active {
    color: red;
}

.admin-order-new {
    position: absolute;
    top: -16px;
    right: 2px;

    width: 30px;
    height: 30px;
    border-radius: 50%;
    line-height: 30px;
    text-align: center;

    background: var(--color-second-background);
    color: white;
    font-size: 13px;
}
